<div id="addGroup_content">
    <div class="addGroup_head">
        <button nz-button [nzType]="'default'" (click)="goback()">返回</button>
    </div>
    <div class="one_step" class="one_step" *ngIf='nextStepFlag; else stepTwoBox'>
        <div class="progress" nz-row>
            <div nz-col [nzSpan]="12" [nzOffset]="6">
                <nz-steps  class="step" [(nzCurrent)]="current">
                    <nz-step [nzTitle]="'群资料'" [nzDescription]="''"></nz-step>
                    <nz-step [nzTitle]="'添加成员'" [nzDescription]=""></nz-step>
                </nz-steps>
            </div>
        </div>
        <div class="headInfo" nz-row>
            <div  nz-col [nzSpan]="12" [nzOffset]="6">
                <div >
                    <nz-upload class="avatar-uploader"
                    nzName="avatar"
                    [nzShowUploadList]="false"
                    [nzBeforeUpload]="beforeUpload"
                    (nzChange)="handleChange($event)">
                    <i *ngIf="!avatarUrl" class="anticon anticon-plus avatar-uploader-trigger"></i>
                    <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
                    </nz-upload>
                </div>
                <div class="gruopName">
                    <span>
                        群名称：
                    </span>
                    <nz-input style="width: 150px;" [(ngModel)]="groupName" [nzPlaceHolder]="'请输入群名称'" ></nz-input>
                </div>
            </div>
        </div>
        <div class="intro" nz-row>
            <div nz-col [nzSpan]="12" [nzOffset]="6">
                <span>
                    群介绍：
                </span>
                <textarea [(ngModel)]='groupIntro'  ></textarea>
            </div>
        </div>
        <div class="remark" nz-row>
            <div nz-col [nzSpan]="12" [nzOffset]="6">
                <span>
                    群备注：
                </span>
                <textarea [(ngModel)]='groupRemark' ></textarea>
            </div>
        </div>
        <div nz-row>
            <div nz-col [nzSpan]="12" [nzOffset]="6" style="text-align: center;">
                <button class="nextStep" nz-button (click)='nextStep()' [nzType]="'default'">下一步</button>
            </div>
        </div>
    </div>
    <!-- 下一步 -->
    <ng-template #stepTwoBox>
        <div class="two_step"  class="two_step">
            <div class="progress" nz-row>
                <div nz-col [nzSpan]="14" [nzOffset]="6">
                    <nz-steps  class="step" [(nzCurrent)]="current2">
                        <nz-step [nzTitle]="'群资料'" [nzDescription]="''"></nz-step>
                        <nz-step [nzTitle]="'添加成员'" [nzDescription]=""></nz-step>
                    </nz-steps>
                </div>
            </div>
            <div nz-row [nzGutter]='1'>
                <div style="border: 1px solid #ccc; min-height: 500px;" nz-col [nzSpan]='20'>
                    <div class="schoolfellow_head">
                            <!-- 查询时间段 -->
                            <div class="timeSelect_area">
                                <div class="register">
                                    <span>
                                        注册时间：
                                    </span>
                                    <nz-datepicker [(ngModel)]="registerBeginTime" nzShowTime [nzPlaceHolder]="'选择开始时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
                                    <span>至</span>
                                    <nz-datepicker [(ngModel)]="registeEndrTime" nzShowTime [nzPlaceHolder]="'选择结束时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
                                </div>
                                <div class="education">
                                    <span>
                                        所在地：
                                    </span>
                                    <nz-select class="selectInput" style="width: 100px;" [(ngModel)]="provinceSelected" (ngModelChange)='provinceChange($event)'
                                        [nzPlaceHolder]="'请选择省份'" nzAllowClear>
                                        <nz-option *ngFor="let item of provinceOptions" [nzLabel]="item.name" [nzValue]="item.code" [nzDisabled]="item.disabled">
                                        </nz-option>
                                    </nz-select>
                                    <nz-select class="selectInput" style="width: 100px;" [(ngModel)]="citySelectde" [nzPlaceHolder]="'请选择城市'" nzAllowClear>
                                        <nz-option *ngFor="let item of cityOptions" [nzLabel]="item.name" [nzValue]="item.code" [nzDisabled]="item.disabled">
                                        </nz-option>
                                    </nz-select>
                                </div>
                            </div>
                            <!-- 查询条件、下拉框 -->
                            <div class="conditionSelect_area">
                                <div class="top">
                                    <div class="name">
                                        <span>
                                            姓名：
                                        </span>
                                        <nz-input class="selectInput" style="width: 150px;" [(ngModel)]="groupUserName" [nzPlaceHolder]="'Basic usage'"></nz-input>
                                    </div>
                                    <div class="phone">
                                        <span>
                                            手机：
                                        </span>
                                        <nz-input class="selectInput" style="width: 150px;" [(ngModel)]="phone" [nzPlaceHolder]="'Basic usage'"></nz-input>
                                    </div>
                                    <div class="education">
                                        <span>
                                            性别：
                                        </span>
                                        <nz-select class="selectInput" style="width: 100px;" [(ngModel)]="sexSelected"
                                            [nzPlaceHolder]="'请选择性别'" nzAllowClear>
                                            <nz-option *ngFor="let item of sexOptions" [nzLabel]="item.label" [nzValue]="item.value" [nzDisabled]="item.disabled">
                                            </nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="education">
                                        <span>
                                            民族：
                                        </span>
                                        <nz-select class="selectInput" style="width: 100px;" [(ngModel)]="nationSelected"
                                            [nzPlaceHolder]="'请选择民族'" nzAllowClear>
                                            <nz-option *ngFor="let item of nationOptions" [nzLabel]="item.label" [nzValue]="item.value" [nzDisabled]="item.disabled">
                                            </nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                                <div class="bottom">
                                    <div class="college">
                                        <span>
                                            学院：
                                        </span>
                                        <nz-select class="selectInput" style="width: 100px;" [(ngModel)]="collegeSelected" (ngModelChange)='collegeChange($event)'
                                            [nzPlaceHolder]="'请选择学院'" nzAllowClear>
                                            <nz-option *ngFor="let item of collegeOptions" [nzLabel]="item.academy_name" [nzValue]="item.id" [nzDisabled]="item.disabled">
                                            </nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="major">
                                        <span>
                                            专业：
                                        </span>
                                        <nz-select class="selectInput" style="width: 100px;" [(ngModel)]="majorSelected" [nzPlaceHolder]="'请选择学历'" nzAllowClear>
                                            <nz-option *ngFor="let item of majorOptions" [nzLabel]="item.major_name" [nzValue]="item.id" [nzDisabled]="item.disabled">
                                            </nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="education">
                                        <span>
                                            学历：
                                        </span>
                                        <nz-select class="selectInput" class="" style="width: 100px;" [(ngModel)]="educationSelected" [nzPlaceHolder]="'请选择学历'" nzAllowClear>
                                            <nz-option *ngFor="let item of educationOptions" [nzLabel]="item.label" [nzValue]="item.value" [nzDisabled]="item.disabled">
                                            </nz-option>
                                        </nz-select>
                                    </div>
                                    <div class="education">
                                        <span style="width: 60px;">
                                            所属行业：
                                        </span>
                                        <nz-select class="selectInput" class="" style="width: 100px;" [(ngModel)]="industrySelected" [nzPlaceHolder]="'请选择状态'" nzAllowClear>
                                            <nz-option *ngFor="let item of industryOptions" [nzLabel]="item.label" [nzValue]="item.value" [nzDisabled]="item.disabled">
                                            </nz-option>
                                        </nz-select>
                                    </div>
                                </div>
                            </div>
                            <!-- 搜索 -->
                            <div class="search">
                                <button nz-button (click)='getAddMemberList()' [nzType]="'primary'">
                                    <span>搜索</span>
                                </button>
                            </div>

                        </div>

                        <!-- 表格 -->
                        <div class="schoolfellow_table">
                            <div class="table">

                              <nz-table #nzTable [nzDataSource]="addMemberList" [nzPageSize]="100" (nzDataChange)="_displayDataChange($event)" nz-col [nzSpan]="18">
                                <thead nz-thead>
                                <tr>
                                  <th nz-th nzCheckbox>
                                    <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
                                    </label>
                                  </th>
                                  <th nz-th><span>注册时间</span></th>
                                  <th nz-th><span>姓名</span></th>
                                  <th nz-th><span>手机</span></th>
                                  <th nz-th><span>性别</span></th>
                                  <th nz-th><span>入学时间</span></th>
                                  <th nz-th><span>学院</span></th>
                                  <th nz-th><span>专业</span></th>
                                  <th nz-th><span>学历</span></th>
                                  <th nz-th><span>所在地</span></th>
                                </tr>
                                </thead>
                                <tbody nz-tbody>
                                <tr nz-tbody-tr *ngFor="let data of nzTable.data;let index = index">
                                  <td nz-td nzCheckbox>
                                    <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus(data, index)">
                                    </label>
                                  </td>
                                  <td nz-td>{{data.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                  <td nz-td>{{data.user_name}}</td>
                                  <td nz-td>{{data.contact_phone}}</td>
                                  <td nz-td>{{data.gender === 1?'男':[data.gender === 2?'女':'未知']}}</td>
                                  <td nz-td>{{data.academic_starts}}</td>
                                  <td nz-td>{{data.academy}}</td>
                                  <td nz-td>{{data.profession}}</td>
                                  <td nz-td>{{data.education}}</td>
                                  <td nz-td>{{data.province}}-{{data.city}}</td>
                                </tr>
                                </tbody>
                              </nz-table>
                            </div>
                            <div class="page" *ngIf="data.length > 0">
                                <nz-pagination [nzPageIndex]="currentPage" [nzPageSize]='15' [nzTotal]="totalPage" (nzPageIndexClickChange)='currentPageChange($event)'
                                    nzShowTotal>
                                </nz-pagination>
                            </div>

                        </div>
                </div>
              <div nz-col [nzSpan]="4" class="card_div">
                <ul>
                  <li class="card-head">已选成员</li>
                  <li class="card-body" *ngFor="let item of addMemberListcheckedList;let index = index">
                    <img src="{{item.url}}" alt="">{{index + 1}} - {{item.user_name}} - {{item.contact_phone}}
                    <button nz-button (click)="deleteItem(index, item)" style="float: right">X</button>
                  </li>
                </ul>
              </div>
            </div>
            <div nz-row style="margin-top: 20px;">
                <div nz-col [nzSpan]="12" [nzOffset]="6" style="text-align: center;">
                    <button class="lastStep" nz-button (click)='lastStep()' [nzType]="'default'">上一步</button>
                    <button class="lastStep" nz-button (click)='completeAdd()' [nzType]="'default'">完成</button>
                </div>
            </div>
        </div>
    </ng-template>
</div>
