<div id="groupContent">
    <div class="search" nz-row  [nzType]="'flex'" [nzJustify]="'center'">
        <div nz-col [nzSpan]="5" style="margin-right: 20px;">
            <span>
                群名称：
            </span>
            <nz-input style="width: 150px;" [(ngModel)]="groupName" [nzPlaceHolder]="'请输入群名称'" ></nz-input>
        </div>
        <div nz-col [nzSpan]="10">
            <span>
                创建时间：
            </span>
            <nz-datepicker [(ngModel)]="beginTime" nzShowTime [nzPlaceHolder]="'选择开始时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
            <span>至</span>
            <nz-datepicker [(ngModel)]="endTime" nzShowTime [nzPlaceHolder]="'选择结束时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        </div>
        <div nz-col [nzSpan]="2">
            <button nz-button (click) = 'handlerSearch()' [nzType]="'primary'">
                <span>搜索</span>
            </button>
        </div>
    </div>


    <div class="tableContent">
        <div class="add">
            <button nz-button (click)='createGroup()' [nzType]="'default'">创建群</button>
        </div>
        <div class="table">
            <nz-table #nzTable [nzDataSource]="data" [nzBordered]="borderShow" [nzLoading]="spinShow" [nzIsPagination]="false">
                <thead nz-thead *ngIf="headerShow">
                    <tr>
                        <th nz-th>
                            <span>群信息</span>
                        </th>
                        <th nz-th>
                            <span>群介绍</span>
                        </th>
                        <th nz-th>
                            <span>群备注</span>
                        </th>
                        <th nz-th>
                            <span>操作</span>
                        </th>
                    </tr>
                </thead>
                <tbody nz-tbody>
                    <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                        <td nz-td (click)='openEditBox(data)'>
                            <dl class="tableStyle">
                                <dt>
                                    <img src="{{data.icon}}" alt="{{data.tname}}">
                                </dt>
                                <dd>
                                    <p>{{data.tname}}</p>
                                    <p>{{data.person_count}}人</p>
                                    <p>创建于:{{data.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                </dd>
                            </dl>
                        </td>
                        <td nz-td>
                            {{data.intro}}
                        </td>
                        <td nz-td>
                            {{data.custom}}
                        </td>
                        <td nz-td>
                            <button nz-button [nzType]="'default'" style="width: 80px">
                              <nz-popconfirm [nzTitle]="'确定解散群?'"
                                             [nzOkText]="'确定'"
                                             [nzCancelText]="'取消'"
                                             (nzOnConfirm)="groupDelete(data)"
                                             (nzOnCancel)="cancel()"
                              >
                                <a nz-popconfirm>解散群</a>
                              </nz-popconfirm>
                            </button>
                            <p style="color: #ccc;font-style: italic;">*仅群主可解散群</p>
                            <button nz-button [nzType]="'default'" style="width: 80px">
                              群主转让
                            </button>
                        </td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
        <div class="page" *ngIf="data.length > 0">
            <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="totalPage" (nzPageIndexClickChange)='currentPageChange($event)'
                nzShowTotal>
            </nz-pagination>
        </div>
    </div>

    <!-- 编辑模态框 -->
    <nz-modal [nzVisible]="editVisible" [nzStyle]="modelStyle" [nzFooter]="modelFooter" [nzTitle]="'群资料详情'" [nzContent]="modalContent" [nzContent]="modalContent" (nzOnCancel)="closeEditModel()">
        <ng-template #modalContent>
            <nz-tabset>
                <nz-tab>
                    <ng-template #nzTabHeading>
                        基本资料
                    </ng-template>
                    <div>
                        <button nz-button style="margin-bottom: 12px;" (click)='editWay()' [nzType]="'default'" *ngIf='isReadOnly; else editBtn'>
                            <span>编辑</span>
                        </button>
                        <ng-template #editBtn>

                        </ng-template>
                        <div>
                            <dl class="tableStyle">
                                <dt>
                                    <img src="{{editInfo.icon}}" alt="{{editInfo.tname}}">
                                </dt>
                                <dd>
                                    <nz-input style="width: 150px; display: block;" [(ngModel)]="editInfo.tname" [nzReadonly]='isReadOnly'></nz-input>
                                    <p>创建于：{{editInfo.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</p>
                                    <p>{{editInfo.person_count}}人</p>
                                </dd>
                            </dl>
                        </div>
                        <div class="">
                            <span>
                                群介绍：
                            </span>
                            <nz-input [nzType]="'textarea'" [nzReadonly]="isReadOnly" [(ngModel)]='editInfo.intro'></nz-input>
                        </div>
                        <div class=''>
                            <span>
                                备注：
                            </span>
                            <nz-input [nzType]="'textarea'" [nzReadonly]="isReadOnly" [(ngModel)]='editInfo.custom'></nz-input>
                        </div>
                    </div>
                </nz-tab>
                <nz-tab>
                    <ng-template #nzTabHeading>
                        <span (click)='memberAdmin()'>成员管理</span>
                    </ng-template>
                    <div>
                        <div nz-row>
                          <div nz-col [nzSpan]="8">
                            <span>姓名</span>
                            <nz-input
                              style="width: 75%;"
                              [(ngModel)]="membergroupName"
                              [nzPlaceHolder]="'请输入姓名'"
                            >
                            </nz-input>
                          </div>
                          <div nz-col [nzSpan]="8">
                            <span>手机</span>
                            <nz-input
                              style="width: 75%;"
                              [(ngModel)]="membergroupPhone"
                              [nzPlaceHolder]="'请输入手机'"
                            >
                            </nz-input>
                          </div>
                          <div nz-col [nzSpan]="8">
                            <span>性别</span>
                            <nz-select style="width: 75%;"
                                       [(ngModel)]="membersexSelected"
                                       [nzPlaceHolder]="'全部'"
                                       nzAllowClear
                            >
                              <nz-option
                                *ngFor="let item of sexOptions"
                                [nzLabel]="item.label"
                                [nzValue]="item.value"
                              >
                              </nz-option>
                            </nz-select>
                          </div>
                          <div nz-col [nzSpan]="8" class="margin-10">
                            <span>所在地</span>
                            <nz-select style="width: 75%;"
                                       [(ngModel)]="memberprovinceSelected"
                                       [nzPlaceHolder]="'全部'"
                                       nzAllowClear
                                       (ngModelChange)='provinceChange($event)'
                            >
                              <nz-option
                                *ngFor="let item of provinceOptions"
                                [nzLabel]="item.name"
                                [nzValue]="item.code"
                              >
                              </nz-option>
                            </nz-select>
                          </div>
                          <div nz-col [nzSpan]="4" class="margin-10">
                            <nz-select style="width: 100%;"
                                     [(ngModel)]="membercitySelected"
                                     [nzPlaceHolder]="'全部'"
                                     nzAllowClear
                                     (ngModelChange)='cityChange($event)'
                          >
                            <nz-option
                              *ngFor="let item of cityOptions"
                              [nzLabel]="item.name"
                              [nzValue]="item.code"
                            >
                            </nz-option>
                          </nz-select>
                          </div>
                          <div nz-col [nzSpan]="4" class="margin-10">
                            <nz-select style="width: 100%;"
                                       [(ngModel)]="memberareaSelected"
                                       [nzPlaceHolder]="'全部'"
                                       nzAllowClear
                            >
                              <nz-option
                                *ngFor="let item of areaOptions"
                                [nzLabel]="item.name"
                                [nzValue]="item.code"
                              >
                              </nz-option>
                            </nz-select>
                          </div>
                          <button nz-col [nzSpan]="2" nz-button class="margin-10" (click)="getMemberList()">搜索</button>
                        </div>

                        <div>
                          <div>
                            <button nz-button class="margin-10" (click)="goAddMember()">添加成员</button>

                            <nz-table #nzTable [nzDataSource]="menubarList">
                              <thead nz-thead>
                              <tr>
                                <th nz-th><span>成员</span></th>
                                <th nz-th><span>群名片</span></th>
                                <th nz-th><span>手机</span></th>
                                <th nz-th><span>性别</span></th>
                                <th nz-th><span>所在地</span></th>
                                <th nz-th><span>操作</span></th>
                              </tr>
                              </thead>
                              <tbody nz-tbody>
                              <tr nz-tbody-tr *ngFor="let data of nzTable.data;let index = index">
                                <td nz-td><img src="{{data.avatar}}" alt="" style="width: 25px;height: 25px;vertical-align: middle;margin-right: 5px;">{{data.user_name}}</td>
                                <td nz-td>{{data.nick}}</td>
                                <td nz-td>{{data.contact_phone}}</td>
                                <td nz-td>{{data.gender === 1?'男':[data.gender === 2?'女':'未知']}}</td>
                                <td nz-td>{{data.province}}-{{data.city}}</td>
                                <td nz-td>
                                  <a class="a-click" (click)="getDetails(data)">查看资料</a>
                                  <a class="a-click" >
                                    <nz-popconfirm nzTitle="确定将'{{data.user_name}}'踢出群吗"
                                                   [nzOkText]="'确定'"
                                                   [nzCancelText]="'取消'"
                                                   (nzOnConfirm)="deleteMenber(data)"
                                                   (nzOnCancel)="cancel()"
                                    >
                                      <a nz-popconfirm>踢出群</a>
                                    </nz-popconfirm></a>
                                </td>
                              </tr>
                              </tbody>
                            </nz-table>
                          </div>
                        </div>
                    </div>
                </nz-tab>
            </nz-tabset>
        </ng-template>
        <ng-template #modelFooter>
            <button nz-button  (click)='closeEditModel()' [nzType]="'default'" *ngIf='isReadOnly; else btnOfEdit'>
                <span>关闭</span>
            </button>
            <ng-template #btnOfEdit>
                <button nz-button  (click)='cancelEdit()' [nzType]="'default'">
                    <span>取消</span>
                </button>
                <button nz-button  (click)='saveEdit()' [nzType]="'default'">
                    <span>保存</span>
                </button>
            </ng-template>
        </ng-template>
    </nz-modal>
</div>


<nz-modal *ngIf="detailsVisible" [nzVisible]="detailsVisible" [nzTitle]="'资料详情'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleCancel($event)">
  <ng-template #modalContent>
    <div class="modal-details">
      <div>
        <img src="{{detailsData.avatar}}" alt="" style="width: 65px;height: 65px;vertical-align: middle;margin-right: 5px;">
        {{detailsData.user_name}}
      </div>
      <div>
        群名片：{{detailsData.nick}}
      </div>
      <div>
        性别：{{detailsData.gender === 1 ? '男' : '女'}}
      </div>
      <div>
        联系方式：{{detailsData.contact_phone}}
      </div>
      <div>
        所在地：{{detailsData.province}} - {{detailsData.city}}
      </div>
    </div>
  </ng-template>
</nz-modal>
