<div id="schoolfellowContent">
        <div class="schoolfellow_head">
          <!-- 查询时间段 -->
            <div class="timeSelect_area">
              <div class="register">
                  <span>
                      注册时间：
                  </span>
                  <nz-datepicker [(ngModel)]="registerBeginTime" nzShowTime [nzPlaceHolder]="'选择开始时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
                  <span>至</span>
                  <nz-datepicker [(ngModel)]="registeEndrTime" nzShowTime [nzPlaceHolder]="'选择结束时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
              </div>
              <div class="joinSchool">
                  <span>
                      入学时间：
                  </span>
                  <nz-datepicker [(ngModel)]="joinBeginTime" nzShowTime [nzPlaceHolder]="'选择开始时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
                  <span>至</span>
                  <nz-datepicker [(ngModel)]="joinEndrTime" nzShowTime [nzPlaceHolder]="'选择结束时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
              </div>
          </div>
          <!-- 查询条件、下拉框 -->
          <div class="conditionSelect_area">
            <div class="top">
                <div class="name">
                  <span>
                      姓名：
                  </span>
                  <nz-input class="selectInput" style="width: 150px;" [(ngModel)]="userName" [nzPlaceHolder]="'Basic usage'"></nz-input>
                </div>
                <div class="ID_card">
                  <span>
                      身份证：
                  </span>
                  <nz-input class="selectInput" style="width: 150px;" [(ngModel)]="IDcard" [nzPlaceHolder]="'Basic usage'"></nz-input>
                </div>
                <div class="phone">
                  <span>
                      手机：
                  </span>
                  <nz-input class="selectInput" style="width: 150px;" [(ngModel)]="phone" [nzPlaceHolder]="'Basic usage'"></nz-input>
                </div>
            </div>
            <div class="bottom">
                <div class="college">
                  <span>
                      学院：
                  </span>
                  <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="collegeSelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择学院'" nzAllowClear>
                      <nz-option
                        *ngFor="let item of collegeOptions"
                        [nzLabel]="item.academy_name"
                        [nzValue]="item.id"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                  </nz-select>
                </div>
                <div class="major">
                  <span>
                      专业：
                  </span>
                  <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="majorSelected" [nzPlaceHolder]="'请选择学历'" nzAllowClear>
                      <nz-option
                        *ngFor="let item of majorOptions"
                        [nzLabel]="item.major_name"
                        [nzValue]="item.id"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                  </nz-select>
                </div>
                <div class="education">
                  <span>
                      学历：
                  </span>
                  <nz-select  class="selectInput" class="" style="width: 100px;" [(ngModel)]="educationSelected" [nzPlaceHolder]="'请选择学历'" nzAllowClear>
                      <nz-option
                        *ngFor="let item of educationOptions"
                        [nzLabel]="item.label"
                        [nzValue]="item.value"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                  </nz-select>
                </div>
                <div class="education">
                  <span style="width: 60px;">
                      账号状态：
                  </span>
                  <nz-select  class="selectInput" class="" style="width: 100px;" [(ngModel)]="accountSelected" [nzPlaceHolder]="'请选择状态'" nzAllowClear>
                      <nz-option
                        *ngFor="let item of accountOptions"
                        [nzLabel]="item.label"
                        [nzValue]="item.value"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                  </nz-select>
                </div>
                <div class="education">
                  <span>
                      所在地：
                  </span>
                  <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="provinceSelected" (ngModelChange) = 'provinceChange($event)' [nzPlaceHolder]="'请选择省份'" nzAllowClear>
                      <nz-option
                        *ngFor="let item of provinceOptions"
                        [nzLabel]="item.name"
                        [nzValue]="item.code"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                  </nz-select>
                  <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="citySelectde" [nzPlaceHolder]="'请选择城市'" nzAllowClear>
                      <nz-option
                        *ngFor="let item of cityOptions"
                        [nzLabel]="item.name"
                        [nzValue]="item.code"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                  </nz-select>
                </div>
            </div>
          </div>
          <!-- 搜索 -->
          <div class="search">
            <button nz-button (click) = 'handlerSearch()' [nzType]="'primary'">
              <span>搜索</span>
            </button>
          </div>

        </div>

        <!-- 表格 -->
        <div class="schoolfellow_table">
          <div class="export">
              <button nz-button (click)='openUploadModel()' [nzType]="'default'">批量导入</button>
              <button nz-button (click)='exportWay()' [nzType]="'default'">批量导出</button>
          </div>
          <div class="table">
            <nz-table #nzTable
              [nzDataSource]="data"
              [nzBordered] = "borderShow"
              [nzLoading] = "spinShow"
              [nzIsPagination]="false"
             >
            <thead nz-thead>
              <tr>
                <th nz-th><span>注册时间</span></th>
                <th nz-th><span>姓名</span></th>
                <th nz-th><span>手机</span></th>
                <th nz-th><span>身份证号</span></th>
                <th nz-th><span>性别</span></th>
                <th nz-th><span>入学时间</span></th>
                <th nz-th><span>学院</span></th>
                <th nz-th><span>专业</span></th>
                <th nz-th><span>学历</span></th>
                <th nz-th><span>所在地</span></th>
                <th nz-th><span>账号状态</span></th>
                <th nz-th><span>操作</span></th>
              </tr>
            </thead>
            <tbody nz-tbody>
              <tr nz-tbody-tr *ngFor="let data of nzTable.data">
                <td nz-td>
                  {{data.created_at}}
                </td>
                <td nz-td   (click)="showInfoModal(data)"  style="color: blue; cursor: pointer;">
                  {{data.user_name}}
                </td>
                <td nz-td>
                  {{data.contact_phone}}
                </td>
                <td nz-td>
                  {{data.id_number}}
                </td>
                <td nz-td>
                  {{data.gender === 1?'男':[data.gender === 2?'女':'未知']}}
                </td>
                <td nz-td>
                  {{data.academic_starts}}
                </td>
                <td nz-td>
                  {{data.academy}}
                </td>
                <td nz-td>
                  {{data.profession}}
                </td>
                <td nz-td>
                  {{data.education}}
                </td>
                <td nz-td>
                  {{data.province}} {{data.city}}
                </td>
                <td nz-td>
                  {{data.c_data_state}}
                </td>
                <td nz-td (click)='handleFreeze(data)' style="color: blue; cursor: pointer;">
                  {{data.c_data_state === 1?'冻结':'解冻'}}
                </td>
              </tr>
            </tbody>
            </nz-table>
          </div>
          <div class="page" *ngIf="data.length > 0">
            <nz-pagination
                [nzPageIndex]="currentPage"
                [nzPageSize] = '15'
                [nzTotal]="totalPage"
                (nzPageIndexClickChange) = 'currentPageChange($event)'
                nzShowTotal>
            </nz-pagination>
          </div>

        </div>

    <!-- 审核模态框 -->
    <nz-modal [nzVisible]="userInfoVisible" [nzStyle]="modelStyle" [nzTitle]="'校友资料'" [nzContent]="AuditModalContent" [nzFooter]="AuditModalFooter" (nzOnCancel)="closeInforModel()">
        <ng-template #AuditModalContent>
          <div id="examineModel">
              <div class="examineModel_head">
                <button nz-button (click)='openEdit()' [nzType]="'default'" *ngIf='!editFlag; else noEditBtnBox'>
                    <span>编辑</span>
                </button>
                <ng-template #noEditBtnBox>

                </ng-template>
                <div>
                  <img class="headImg" src="{{userInfo.avatar}}" />
                </div>
                <div>
                  <ul>
                    <li>
                      <span>
                        <b class="weight">姓名：</b> 
                        <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.user_name" [nzReadonly]='!editFlag'></nz-input>
                      </span>
                      <span  style="margin-left: 10px;">
                        <b class="weight">性别：</b>    
                        <nz-select style="width: 100px;" [(ngModel)]="userInfo.gender" [nzPlaceHolder]="'choose option'" [nzDisabled]='!editFlag'>
                          <nz-option
                            *ngFor="let item of sexOptions"
                            [nzLabel]="item.label"
                            [nzValue]="item.value">
                          </nz-option>
                        </nz-select>
                      </span>
                      <span  style="margin-left: 10px;">
                        <b class="weight">出生年月：</b>
                        <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.birthday" [nzReadonly]='!editFlag'></nz-input>
                      </span>
                      <span  style="margin-left: 10px;">
                        <b class="weight">民族：</b>
                        <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.nation" [nzReadonly]='!editFlag'></nz-input>
                      </span>
                    </li>
                    <li>
                      <span><b class="weight">手机：</b></span>
                      <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.contact_phone" [nzReadonly]='!editFlag'></nz-input>
                      <span><b class="weight">邮箱：</b></span>
                      <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.private_email" [nzReadonly]='!editFlag'></nz-input>
                    </li>
                    <li>
                      <span><b class="weight">身份证：</b></span>
                      <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.id_number" [nzReadonly]='!editFlag'></nz-input>
                      <span><b class="weight">政治面貌：</b></span>
                      <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.politics_status" [nzReadonly]='!editFlag'></nz-input>
                    </li>
                    <li>
                      <span><b class="weight">微信：</b></span>
                      <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.wechat_number" [nzReadonly]='!editFlag'></nz-input>
                      <span><b class="weight">QQ：</b></span>
                      <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.qq_number" [nzReadonly]='!editFlag'></nz-input>
                    </li>
                    <li>
                      <span><b class="weight">目前所在地：</b></span>
                      <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.province_code" (ngModelChange) = 'editProvinceChange(userInfo.province_code)'>
                          <nz-option
                            *ngFor="let item of provinceOptions"
                            [nzLabel]="item.name"
                            [nzValue]="item.code"
                            [nzDisabled]="item.disabled">
                          </nz-option>
                      </nz-select>
                      <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.city_code">
                          <nz-option
                            *ngFor="let item of editCityOptions"
                            [nzLabel]="item.name"
                            [nzValue]="item.code"
                            [nzDisabled]="item.disabled">
                          </nz-option>
                      </nz-select>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="examineModel_middle">
                <ul>
                  <li>
                    <b class="weight">入学时间：</b>
                    <nz-datepicker [nzFormat]="'YYYY/MM'" [(ngModel)]="userInfo.academic_starts"></nz-datepicker>
                  </li>
                  <li>
                    <b class="weight">学院：</b>
                    <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.academy_id" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择学院'">
                      <nz-option
                        *ngFor="let item of collegeOptions"
                        [nzLabel]="item.academy_name"
                        [nzValue]="item.id"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                    </nz-select>
                  </li>
                  <li>
                    <b class="weight">专业：</b>
                    <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.profession_id" [nzPlaceHolder]="'请选择学历'">
                      <nz-option
                        *ngFor="let item of majorOptions"
                        [nzLabel]="item.major_name"
                        [nzValue]="item.id"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                    </nz-select>
                  </li>
                  <li>
                    <b class="weight">学历：</b>
                    <nz-select  class="selectInput" class="" style="width: 100px;" [(ngModel)]="userInfo.education" [nzPlaceHolder]="'请选择学历'">
                      <nz-option
                        *ngFor="let item of educationOptions"
                        [nzLabel]="item.label"
                        [nzValue]="item.value"
                        [nzDisabled]="item.disabled">
                      </nz-option>
                    </nz-select>
                  </li>
                  <li>
                    <b class="weight">毕业时间：</b>
                    <nz-datepicker [nzFormat]="'YYYY/MM'" [(ngModel)]="userInfo.graduate_time"></nz-datepicker>
                  </li>
                  <li>
                    <b class="weight">班号：</b>
                    <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.class_number" [nzReadonly]='!editFlag'></nz-input>
                  </li>
                  <li>
                    <b class="weight">学号：</b>
                    <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.student_number" [nzReadonly]='!editFlag'></nz-input>
                  </li>
                  <li>
                    <b class="weight">班主任：</b>
                    <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.charge_class" [nzReadonly]='!editFlag'></nz-input>
                  </li>
                </ul>
              </div>
              <div class="examineModel_bottom">
                <ul>
                  <li>
                    <b class="weight">公司名称：</b>
                    <nz-input class="selectInput" style="width: 100px;" [(ngModel)]="userInfo.company_batch === undefined?'暂无':userInfo.company_batch[0].company_name" [nzReadonly]='!editFlag'></nz-input>
                  </li>
                  <li>
                    <b class="weight">职位名称：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch[0].job_title}}
                  </li>
                  <li>
                    <b class="weight">所属行业：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch[0].industry_involved}}
                  </li>
                  <li>
                    <b class="weight">企业人数：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch[0].person_number}}
                  </li>
                  <li>
                    <b class="weight">上一年度资产总值：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch[0].last_total_assets}}
                  </li>
                  <li>
                    <b class="weight">公司地址：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch[0].address}}
                  </li>
                  <li>
                    <b class="weight">公司简介：</b>
                    <textarea style="min-height: 40px; width: 100%;" [(ngModel)]="userInfo.company_batch === undefined?'暂无':userInfo.company_batch[0].company_introduce"></textarea>
                  </li>
                </ul>
                <p>
                  <b class="weight">企业家简介：</b>
                  <textarea style="min-height: 40px; width: 100%;" [(ngModel)]='userInfo.entrepreneur_introduce'></textarea>
                </p>
                <p>
                  <b class="weight">企业家兴趣爱好：</b>
                  <textarea style="min-height: 40px; width: 100%;" [(ngModel)]='userInfo.entrepreneur_hobby'></textarea>
                </p>
                <p>
                  <b class="weight">企业家动态：</b>
                  <textarea style="min-height: 40px; width: 100%;" [(ngModel)]='userInfo.entrepreneur_dynamic'></textarea>
                </p>
                <p>
                  <b class="weight">一句话介绍：</b>
                </p>
                <p>
                  <textarea style="min-height: 40px; width: 100%;" [(ngModel)]='userInfo.a_word_introduce'></textarea>
                </p>
              </div>
          </div>
        </ng-template>
        <ng-template  #AuditModalFooter>
          <div class="examineModel_control">
            <button nz-button (click)='closeInforModel()' [nzType]="'default'" *ngIf='!editFlag; else noEditControlBtnBox'>
                <span>关闭</span>
            </button>
            <ng-template #noEditControlBtnBox>
              <button nz-button (click)='cancelEdit()' [nzType]="'default'">
                  <span>取消</span>
              </button>
              <button nz-button (click)='saveEdit()' [nzType]="'default'">
                  <span>保存</span>
              </button>
            </ng-template>
          </div>
        </ng-template>
    </nz-modal>

  <!-- 导入模态框 -->
    <nz-modal [nzVisible]="uploadVisible" [nzStyle]="modelStyle" [nzTitle]="'批量导入校友'" [nzContent]="modalContent" [nzFooter]="modelFooter" (nzOnCancel)="closeUploadModel()">
      <ng-template #modalContent>
          <p>
            <span>批量导入模板.exls</span>
            <button [nzLoading]="downLoading" nz-button (click) = 'downloadTemplate($event)' [nzType]="'default'">
                <span>下载模板</span>
            </button>
          </p>
          <p>
            <span>选择导入文件</span>
            <nz-upload
              [(nzFileList)]="fileList"
              [nzBeforeUpload]="beforeUpload">
              <button nz-button>
                <i class="anticon anticon-upload"></i><span>Select File</span>
              </button>
            </nz-upload>
            <button nz-button [nzType]="'primary'" (click)="handleUpload()" [disabled]="fileList.length == 0" style="margin-top: 16px">
              点击上传
            </button>
  
            <nz-progress *ngIf='progressFlag' [ngModel]="progressValue"></nz-progress>
          </p>
      </ng-template>
      <ng-template  #modelFooter>

      </ng-template>
  </nz-modal>
</div>
