<div id="addGroup_content">
  <div nz-row class="addList_head">
    <button nz-button nz-col [nzSpan]="3" style="margin-right: 20px;" (click)="goback()">返回</button>
    <h2 nz-col [nzSpan]="20">添加群成员</h2>
    <div nz-col [nzSpan]="24" style="margin: 20px 0">
      <p>群名称: </p>
      <p>当前人数: </p>
    </div>
  </div>
    <div nz-row>
      <div class="joinSchool" nz-col [nzSpan]="8">
            <span>
                入学时间：
            </span>
        <nz-datepicker [(ngModel)]="joinBeginTime" nzShowTime [nzPlaceHolder]="'选择开始时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        <span>至</span>
        <nz-datepicker [(ngModel)]="joinEndrTime" nzShowTime [nzPlaceHolder]="'选择结束时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
      </div>
      <div nz-col [nzSpan]="4">
        <span>姓名：</span>
        <nz-input style="width: 100px;" [(ngModel)]="groupName" [nzPlaceHolder]="''" ></nz-input>
      </div>
      <div nz-col [nzSpan]="4">
        <span>手机：</span>
        <nz-input style="width: 100px;" [(ngModel)]="groupPhone" [nzPlaceHolder]="''" ></nz-input>
      </div>
      <div nz-col [nzSpan]="4">
        <span>性别：</span>
        <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="sexSelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择性别'" nzAllowClear>
          <nz-option
            *ngFor="let item of sexOptions"
            [nzLabel]="item.label"
            [nzValue]="item.value"
          >
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="4">
        <span>民族：</span>
        <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="nationSelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择民族'" nzAllowClear>
          <nz-option
            *ngFor="let item of nationOptions"
            [nzLabel]="item.academy_name"
            [nzValue]="item.id"
            [nzDisabled]="item.disabled">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="4">
        <span>学院：</span>
        <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="collegeSelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择学院'" nzAllowClear>
          <nz-option
            *ngFor="let item of collegeOptions"
            [nzLabel]="item.academy_name"
            [nzValue]="item.id"
            [nzDisabled]="item.disabled">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="4">
        <span>专业：</span>
        <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="majorSelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择专业'" nzAllowClear>
          <nz-option
            *ngFor="let item of majorOptions"
            [nzLabel]="item.academy_name"
            [nzValue]="item.id"
            [nzDisabled]="item.disabled">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="4">
        <span>学历：</span>
        <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="educationSelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择学历'" nzAllowClear>
          <nz-option
            *ngFor="let item of educationOptions"
            [nzLabel]="item.label"
            [nzValue]="item.value"
          >
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="6">
        <span>所在地：</span>
        <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="provinceSelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择省份'" nzAllowClear>
          <nz-option
            *ngFor="let item of provinceOptions"
            [nzLabel]="item.academy_name"
            [nzValue]="item.id"
            [nzDisabled]="item.disabled">
          </nz-option>
        </nz-select>
        <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="citySelectde" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择城市'" nzAllowClear>
          <nz-option
            *ngFor="let item of cityOptions"
            [nzLabel]="item.academy_name"
            [nzValue]="item.id"
            [nzDisabled]="item.disabled">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="4">
        <span>所属行业：</span>
        <nz-select  class="selectInput" style="width: 100px;" [(ngModel)]="industrySelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择学院'" nzAllowClear>
          <nz-option
            *ngFor="let item of industryOptions"
            [nzLabel]="item.academy_name"
            [nzValue]="item.id"
            [nzDisabled]="item.disabled">
          </nz-option>
        </nz-select>
      </div>
      <div nz-col [nzSpan]="2">
        <button nz-button [nzType]="'primary'" (click)="getAddMemberList()">搜索</button>
      </div>
    </div>
    <div nz-row style="margin-top: 40px;">
      <nz-table #nzTable [nzDataSource]="addMemberList" [nzPageSize]="100" (nzDataChange)="_displayDataChange($event)" (nzPageIndexChange)="_refreshStatus()" (nzPageSizeChange)="_refreshStatus()" nz-col [nzSpan]="18">
        <thead nz-thead>
        <tr>
          <th nz-th nzCheckbox>
            <label nz-checkbox [(ngModel)]="_allChecked" [nzIndeterminate]="_indeterminate" (ngModelChange)="_checkAll($event)">
            </label>
          </th>
          <th nz-th><span>注册时间</span></th>
          <th nz-th><span>姓名</span></th>
          <th nz-th><span>手机</span></th>
          <th nz-th><span>性别</span></th>
          <th nz-th><span>入学时间</span></th>
          <th nz-th><span>学院</span></th>
          <th nz-th><span>专业</span></th>
          <th nz-th><span>学历</span></th>
          <th nz-th><span>所在地</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let data of nzTable.data;let index = index">
          <td nz-td nzCheckbox>
            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="_refreshStatus(data, index)">
            </label>
          </td>
          <td nz-td>{{data.created_at | date:'yyyy-MM-dd HH:mm:ss'}}</td>
          <td nz-td>{{data.user_name}}</td>
          <td nz-td>{{data.contact_phone}}</td>
          <td nz-td>{{data.gender === 1 ? '男' : '女'}}</td>
          <td nz-td>{{data.academic_starts}}</td>
          <td nz-td>{{data.academy}}</td>
          <td nz-td>{{data.profession}}</td>
          <td nz-td>{{data.education}}</td>
          <td nz-td>{{data.province}}-{{data.city}}</td>
        </tr>
        </tbody>
      </nz-table>
      <div nz-col [nzSpan]="6" class="card_div">
        <ul>
          <li class="card-head">已选成员</li>
          <li class="card-body" *ngFor="let item of addMemberListcheckedList;let index = index">
            <img src="{{item.url}}" alt="">{{index + 1}} - {{item.user_name}} - {{item.contact_phone}}
            <button nz-button (click)="deleteItem(index, item)" style="float: right">X</button>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-foot">
      <button nz-button (click)="goback()">取消</button>
      <button nz-button (click)="submitAddMember()">完成</button>
    </div>
</div>
