<div id="accountManagement">
  <div nz-row class="accountManagement_head">
    <div nz-col>
      <span>姓名</span>
      <nz-input
        style="width: 150px;"
        [(ngModel)]="user_name"
        [nzPlaceHolder]="'Basic usage'"
      >
      </nz-input>
    </div>
    <div nz-col>
      <span>手机</span>
      <nz-input
        style="width: 150px;"
        [(ngModel)]="contact_phone"
        [nzPlaceHolder]="'Basic usage'"
      >
      </nz-input>
    </div>
    <div nz-col>
      <span>账号状态</span>
      <nz-select style="width: 150px;"
                 [(ngModel)]="a_data_state"
                 [nzPlaceHolder]="'choose option'"
                 nzAllowClear
      >
        <nz-option
          *ngFor="let option of options"
          [nzLabel]="option.label"
          [nzValue]="option.value"
          [nzDisabled]="option.disabled">
        </nz-option>
      </nz-select>
    </div>
    <button nz-col nz-button>查询</button>
    <button nz-col nz-button routerLink="/index/addNewUser">创建账号</button>
  </div>
</div>

<div class="accountM_table">
  <nz-table #nzTable [nzDataSource]="dataList" [nzPageIndex]="page" [nzPageSize]="10" nzShowSizeChanger>
    <thead nz-thead>
    <tr>
      <th nz-th><span>姓名</span></th>
      <th nz-th><span>添加时间</span></th>
      <th nz-th><span>手机</span></th>
      <th nz-th><span>账号状态</span></th>
      <th nz-th><span>操作</span></th>
    </tr>
    </thead>
    <tbody nz-tbody>
    <tr nz-tbody-tr *ngFor="let data of dataList">
      <td nz-td>
        <a>{{data.user_name}}</a>
      </td>
      <td nz-td>{{data.created_at}}</td>
      <td nz-td>{{data.contact_phone}}</td>
      <td nz-td>{{data.a_data_state === 1 ? "正常" : '已停用'}}</td>
      <td nz-td>
        <a class="a-click" (click)="showModal(data.user_name, data.id)">重置密码</a>
        <a class="a-click" (click)="editShowModal(data.id,data.user_name, data.a_data_state)">编辑资料</a>
        <a class="a-click" (click)="toggle(data.id, data.a_data_state)">{{data.a_data_state === 1 ? '停用' : '启用'}}</a>
      </td>
    </tr>
    </tbody>
  </nz-table>
</div>

<nz-modal [nzVisible]="isVisible"
          [nzTitle]="'重置密码'"
          [nzOkText]="'确定'"
          [nzCancelText]="'取消'"
          [nzContent]="modalContent"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="handleOk($event)"
>
  <ng-template #modalContent>
    <div id="template">
      <div>
        <nz-input [(ngModel)]="UserName" [nzDisabled]="true" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)">
          <ng-template #addOnBefore>姓名</ng-template>
        </nz-input>
      </div>
      <div>
        <nz-input [(ngModel)]="newUserPassword" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)">
          <ng-template #addOnBefore>密码</ng-template>
        </nz-input>
      </div>
      <div>
        <nz-input [(ngModel)]="repeatPassword" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)">
          <ng-template #addOnBefore>确认密码</ng-template>
        </nz-input>
      </div>
    </div>
  </ng-template>
</nz-modal>

<nz-modal [nzVisible]="isEditVisible"
          [nzTitle]="'编辑资料'"
          [nzOkText]="'确定'"
          [nzCancelText]="'取消'"
          [nzContent]="modalContent1"
          (nzOnCancel)="handleCancel($event)"
          (nzOnOk)="editData()"
>
  <ng-template #modalContent1>
    <div id="template1">
      <div>
        <nz-input [(ngModel)]="UserName" [nzDisabled]="true" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)">
          <ng-template #addOnBefore>姓名</ng-template>
        </nz-input>
      </div>
      <div>
        <nz-input [(ngModel)]="newUserPassword" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)">
          <ng-template #addOnBefore>密码</ng-template>
        </nz-input>
      </div>
      <div>
        <nz-input [(ngModel)]="repeatPassword" [nzPlaceHolder]="'Basic usage'" (ngModelChange)="_console($event)">
          <ng-template #addOnBefore>确认密码</ng-template>
        </nz-input>
      </div>
    </div>
  </ng-template>
</nz-modal>

<ng-template #nzTable>
    <div>
      暂无数据
    </div>
</ng-template>
<!--<div>
  <div nz-row>
    <button nz-button>返回</button>
  </div>
  <div nz-row>
    <h3>新建账号</h3>
    <div>
        <label>姓名</label>
        <nz-input
          [(ngModel)]="newUserName"
          [nzPlaceHolder]="'Basic usage'"
          (ngModelChange)="_console($event)">
        </nz-input>
        <label>手机号</label>
        <nz-input
          [(ngModel)]="userPhone"
          [nzPlaceHolder]="'Basic usage'"
          (ngModelChange)="_console($event)">
        </nz-input>
        <label>初始密码</label>
        <nz-input
          [(ngModel)]="firstPassword"
          [nzPlaceHolder]="'Basic usage'"
          (ngModelChange)="_console($event)">
        </nz-input>
        <label>确认密码</label>
        <nz-input
          [(ngModel)]="lastPassword"
          [nzPlaceHolder]="'Basic usage'"
          (ngModelChange)="_console($event)">
        </nz-input>
        <div>
          <span>账号状态</span>
          <nz-radio-group [(ngModel)]="radioState">
            <label nz-radio [nzValue]="'start'">
              <span>正常</span>
            </label>
            <label nz-radio [nzValue]="'stop'">
              <span>停用</span>
            </label>
          </nz-radio-group>
        </div>
        <button nz-button>取消</button>
        <button nz-button>提交</button>
    </div>
  </div>
</div>-->
