<div id="waitPendingContent">
  <div class="waitPending_head"  >
    <!-- 查询时间段 -->
    <div class="timeSelect_area"nz-row>
        <div class="register" nz-col [nzSpan]='11'>
            <span>
                注册时间：
            </span>
            <nz-datepicker [(ngModel)]="registerBeginTime" nzShowTime [nzPlaceHolder]="'选择开始时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
            <span>至</span>
            <nz-datepicker [(ngModel)]="registeEndrTime" nzShowTime [nzPlaceHolder]="'选择结束时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        </div>
        <div class="joinSchool" nz-col [nzSpan]='11'>
            <span>
                入学时间：
            </span>
            <nz-datepicker [(ngModel)]="joinBeginTime" nzShowTime [nzPlaceHolder]="'选择开始时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
            <span>至</span>
            <nz-datepicker [(ngModel)]="joinEndrTime" nzShowTime [nzPlaceHolder]="'选择结束时间'" [nzFormat]="'YYYY-MM-DD HH:mm:ss'"></nz-datepicker>
        </div>
    </div>
    <!-- 查询条件、下拉框 -->
    <div class="conditionSelect_area"nz-row>
      <div class="top">
          <div class="name" nz-col [nzSpan]='6'>
            <span>
                姓名：
            </span>
            <nz-input class="selectInput" style="width: 150px;" [(ngModel)]="userName" [nzPlaceHolder]="'请输入姓名'" ></nz-input>
          </div>
          <div class="ID_card" nz-col [nzSpan]='6'>
            <span>
                身份证：
            </span>
            <nz-input class="selectInput" style="width: 150px;" [(ngModel)]="IDcard" [nzPlaceHolder]="'请输入身份证'" ></nz-input>
          </div>
          <div class="phone" nz-col [nzSpan]='6'>
            <span>
                手机：
            </span>
            <nz-input class="selectInput" style="width: 150px;" [(ngModel)]="phone" [nzPlaceHolder]="'请输入手机'" ></nz-input>
          </div>
      </div>
      <div class="bottom" nz-row>
          <div class="college" nz-col [nzSpan]='6'>
            <span>
                学院：
            </span>
            <nz-select  class="selectInput" style="width: 150px;" [(ngModel)]="collegeSelected" (ngModelChange) = 'collegeChange($event)' [nzPlaceHolder]="'请选择学院'" nzAllowClear>
                <nz-option
                  *ngFor="let item of collegeOptions"
                  [nzLabel]="item.academy_name"
                  [nzValue]="item.id"
                  [nzDisabled]="item.disabled">
                </nz-option>
            </nz-select>
          </div>
          <div class="major" nz-col [nzSpan]='6'>
            <span>
                专业：&nbsp;&nbsp;&nbsp;&nbsp;
            </span>
            <nz-select  class="selectInput" style="width: 150px;" [(ngModel)]="majorSelected" [nzPlaceHolder]="'请选择学历'" nzAllowClear>
                <nz-option
                  *ngFor="let item of majorOptions"
                  [nzLabel]="item.major_name"
                  [nzValue]="item.id"
                  [nzDisabled]="item.disabled">
                </nz-option>
            </nz-select>
          </div>
          <div class="education" nz-col [nzSpan]='6'>
            <span>
                学历：
            </span>
            <nz-select  class="selectInput" class="" style="width: 150px;" [(ngModel)]="educationSelected" [nzPlaceHolder]="'请选择学历'" nzAllowClear>
                <nz-option
                  *ngFor="let item of educationOptions"
                  [nzLabel]="item.label"
                  [nzValue]="item.value"
                  [nzDisabled]="item.disabled">
                </nz-option>
            </nz-select>
          </div>
      </div>
    </div>
    <!-- 搜索 -->
    <div class="search" nz-row>
      <button nz-col [nzSpan]="3" [nzOffset]="20" nz-button (click) = 'handlerSearch()' [nzType]="'primary'">
        <span>搜索</span>
      </button>
    </div>

  </div>

  <!-- 表格 -->
  <div class="waitPending_table">
    <div class="table">
        <nz-table #nzTable
          [nzDataSource]="data"
          [nzBordered] = "borderShow"
          [nzLoading] = "spinShow"
          [nzIsPagination]="false"
        >
        <thead nz-thead>
          <tr>
            <th nz-th><span>注册时间</span></th>
            <th nz-th><span>姓名</span></th>
            <th nz-th><span>手机</span></th>
            <th nz-th><span>身份证号</span></th>
            <th nz-th><span>性别</span></th>
            <th nz-th><span>入学时间</span></th>
            <th nz-th><span>学院</span></th>
            <th nz-th><span>专业</span></th>
            <th nz-th><span>学历</span></th>
            <th nz-th><span>操作</span></th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor="let data of nzTable.data">
            <td nz-td>
              {{data.created_at | date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
            <td nz-td  (click)="showInfoModal(data)"  style="color: blue; cursor: pointer;">
              {{data.user_name}}
            </td>
            <td nz-td>
              {{data.contact_phone}}
            </td>
            <td nz-td>
              {{data.id_number}}
            </td>
            <td nz-td>
              {{data.gender === 1?'男':[data.gender === 2?'女':'未知']}}
            </td>
            <td nz-td>
              {{data.academic_starts | date:'yyyy-MM-dd HH:mm:ss'}}
            </td>
            <td nz-td>
              {{data.academy}}
            </td>
            <td nz-td>
              {{data.profession}}
            </td>
            <td nz-td>
              {{data.education}}
            </td>
            <td  (click)='showAuditModal(data)' style="color: blue; cursor: pointer;">
              审核
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="page" *ngIf="data.length > 0">
        <nz-pagination
            [nzPageIndex]="currentPage"
            [nzTotal]="totalPage"
            (nzPageIndexClickChange) = 'currentPageChange($event)'
            nzShowTotal>
        </nz-pagination>
    </div>

  </div>

  <!-- 资料模态框 -->
  <nz-modal [nzVisible]="inforVisible" [nzStyle]="modelStyle" [nzTitle]="'校友资料'" [nzContent]="modalContent" [nzFooter]="modelFooter" (nzOnCancel)="closeInforModel($event)">
    <ng-template #modalContent>
      <div id="examineModel">
          <div class="examineModel_head">
            <div>
              <img class="headImg" src="{{userInfo.avatar}}" />
            </div>
            <div>
              <ul>
                <li>
                  <span><b class="weight">姓名：</b> {{userInfo.user_name}}</span>
                  <span  style="margin-left: 10px;"><b class="weight">性别：</b>{{userInfo.gender === 1?'男':[userInfo.gender === '2'?'女':'未知']}}</span>
                </li>
                <li>
                  <span><b class="weight">手机：</b></span>
                  {{userInfo.contact_phone}}
                </li>
                <li>
                  <span><b class="weight">身份证：</b></span>
                  {{userInfo.id_number}}
                </li>
                <li>
                  <span><b class="weight">目前所在地：</b></span>
                  {{userInfo.province}} {{userInfo.city}}
                </li>
              </ul>
            </div>
          </div>
          <div class="examineModel_middle">
            <ul>
              <li>
                <b class="weight">入学时间：</b>{{userInfo.academic_starts}}
              </li>
              <li>
                <b class="weight">学院：</b>{{userInfo.academy}}
              </li>
              <li>
                <b class="weight">专业：</b>{{userInfo.profession}}
              </li>
              <li>
                <b class="weight">学历：</b>{{userInfo.education}}
              </li>
            </ul>
          </div>
          <div class="examineModel_bottom">
            <ul>
              <li>
                <b class="weight">公司名称：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch.company_name}}
              </li>
              <li>
                <b class="weight">职位名称：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch.job_title}}
              </li>
              <li>
                <b class="weight">所属行业：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch.industry_involved}}
              </li>
            </ul>
            <p>
              <b class="weight">一句话介绍：</b>
            </p>
            <p>
              {{userInfo.a_word_introduce}}
            </p>
          </div>
      </div>
    </ng-template>
    <ng-template  #modelFooter>
      <div class="examineModel_control">
        <button nz-button (click) = 'closeInforModel($event)' [nzType]="'default'">
            <span>关 闭</span>
        </button>
      </div>
    </ng-template>
  </nz-modal>

  <!-- 审核模态框 -->
  <nz-modal [nzVisible]="auditVisible" [nzStyle]="modelStyle" [nzTitle]="'校友审核'" [nzContent]="AuditModalContent" [nzFooter]="AuditModalFooter" (nzOnCancel)="closeAuditModel()">
      <ng-template #AuditModalContent>
        <div id="examineModel">
            <div class="examineModel_head">
              <div>
                <img class="headImg" src="{{userInfo.avatar}}" />
              </div>
              <div>
                <ul>
                  <li>
                    <span><b class="weight">姓名：</b> {{userInfo.user_name}}</span>
                    <span  style="margin-left: 10px;"><b class="weight">性别：</b>{{userInfo.gender === 1?'男':[userInfo.gender === '2'?'女':'未知']}}</span>
                  </li>
                  <li>
                    <span><b class="weight">手机：</b></span>
                    {{userInfo.contact_phone}}
                  </li>
                  <li>
                    <span><b class="weight">身份证：</b></span>
                    {{userInfo.id_number}}
                  </li>
                  <li>
                    <span><b class="weight">目前所在地：</b></span>
                    {{userInfo.province}} {{userInfo.city}}
                  </li>
                </ul>
              </div>
            </div>
            <div class="examineModel_middle">
              <ul>
                <li>
                  <b class="weight">入学时间：</b>{{userInfo.academic_starts}}
                </li>
                <li>
                  <b class="weight">学院：</b>{{userInfo.academy}}
                </li>
                <li>
                  <b class="weight">专业：</b>{{userInfo.profession}}
                </li>
                <li>
                  <b class="weight">学历：</b>{{userInfo.education}}
                </li>
              </ul>
            </div>
            <div class="examineModel_bottom">
              <ul>
                <li>
                  <b class="weight">公司名称：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch.company_name}}
                </li>
                <li>
                  <b class="weight">职位名称：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch.job_title}}
                </li>
                <li>
                  <b class="weight">所属行业：</b> {{userInfo.company_batch === undefined?'暂无':userInfo.company_batch.industry_involved}}
                </li>
              </ul>
              <p>
                <b class="weight">一句话介绍：</b>
              </p>
              <p>
                {{userInfo.a_word_introduce}}
              </p>
            </div>
        </div>
      </ng-template>
      <ng-template  #AuditModalFooter>
        <div class="examineModel_control">
          <button [nzLoading]="acceptLoading" nz-button (click) = 'handerAccept($event)' [nzType]="'default'">
              <span>审核通过</span>
          </button>
          <button [nzLoading]="rejectLoading" nz-button (click) = 'handerReject($event)' [nzType]="'danger'">
              <span>审核不通过</span>
          </button>
        </div>
      </ng-template>
  </nz-modal>
</div>
