<div id="addList">
  <div nz-row class="addList_head">
    <button nz-button
            nz-col [nzSpan]="3"
            style="margin-right: 20px;"
            (click)="goback()">
      返回
    </button>
    <h2 nz-col [nzSpan]="20" *ngIf="editFlag ; else edit">添加直播/回放</h2>
    <ng-template #edit><h2 nz-col [nzSpan]="20">编辑直播/回放</h2></ng-template>

  </div>
  <div nz-row class="addList_head">
    <div>
      <span class="text-padd-span">公告标题</span>
      <nz-input
        style="width: 75%;"
        [(ngModel)]="live_title"
        [nzPlaceHolder]="'请输入公告标题'"
      >
      </nz-input>
    </div>
    <div>
      <span class="text-padd-span">上传缩略图</span>
      <nz-upload
        class="avatar-uploader"
        nzName="avatar"
        [nzShowUploadList]="false"
        [nzBeforeUpload]="beforeUpload"
        (nzChange)="handleChange($event)">
        <i *ngIf="!avatarUrl" class="anticon anticon-plus avatar-uploader-trigge"></i>
        <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
      </nz-upload>
    </div>
    <div>
      <span class="text-padd-span">直播时间</span>
      <nz-input
        style="width: 75%;"
        [(ngModel)]="live_time"
        [nzPlaceHolder]="'请输入直播时间'"
      >
      </nz-input>
    </div>
    <div>
      <span class="text-padd-span">直播人</span>
      <nz-input
        style="width: 75%;"
        [(ngModel)]="live_person"
        [nzPlaceHolder]="'请输入直播人'"
      >
      </nz-input>
    </div>
    <div>
      <span class="text-padd-span">预告介绍</span>
      <nz-input
        style="width: 75%;"
        [nzType]="'textarea'"
        [nzRows]="'4'"
        [(ngModel)]="foreshow_intro"
        [nzPlaceHolder]="'请输入预告介绍'"
      >
      </nz-input>
    </div>
    <div>
      <span class="text-padd-span">预告状态</span>
      <nz-radio-group [(ngModel)]="live_state" style="width: 75%;">
        <label nz-radio [nzValue]="1">
          <span>显示</span>
        </label>
        <label nz-radio [nzValue]="2">
          <span>隐藏</span>
        </label>
      </nz-radio-group>
    </div>
    <div nz-row class="foot-buts">
      <button nz-col [nzSpan]="5" [nzPush]="5" nz-button (click)="goback()">取消</button>
      <button nz-col [nzSpan]="5" [nzPush]="7" nz-button [nzType]="'primary'" (click)="previewSubmit()"  *ngIf="editFlag ; else editSubmitFlag">提交</button>
      <ng-template #editSubmitFlag><button nz-col [nzSpan]="5" [nzPush]="7" nz-button [nzType]="'primary'" (click)="editSubmit()">提交</button></ng-template>
    </div>

  </div>
</div>
