<div id="addList">
  <div nz-row class="addList_head">
    <button nz-button
            nz-col [nzSpan]="3"
            style="margin-right: 20px;"
            (click)="goback()">
      返回
    </button>
    <h2 nz-col [nzSpan]="20" *ngIf="editFlag;else editFlag">添加公告</h2>
    <ng-template #editFlag><h2 nz-col [nzSpan]="20">编辑公告</h2></ng-template>

  </div>
  <div nz-row class="addList_head">
    <div>
      <span class="text-padd-span">公告标题</span>
      <nz-input
        style="width: 75%;"
        [(ngModel)]="affiche_title"
        [nzPlaceHolder]="'请输入公告标题'"
      >
      </nz-input>
    </div>
    <div>
      <span class="text-padd-span">上传缩略图</span>
      <nz-upload class="avatar-uploader"
                 nzName="avatar"
                 [nzShowUploadList]="false"
                 [nzBeforeUpload]="beforeUpload"
                 (nzChange)="handleChange($event)">
        <i *ngIf="!avatarUrl" class="anticon anticon-plus avatar-uploader-trigger"></i>
        <img *ngIf="avatarUrl" [src]="avatarUrl" class="avatar">
      </nz-upload>
    </div>
    <div>
      <span class="text-padd-span">公告内容</span>
      <nz-radio-group [(ngModel)]="affiche_type" style="width: 75%;">
        <label nz-radio [nzValue]="1">
          <span>添加链接</span>
        </label>
        <label nz-radio [nzValue]="2">
          <span>编辑文章</span>
        </label>
      </nz-radio-group>
    </div>
    <div *ngIf="affiche_type === 1">
      <div>
        <span class="text-padd-span">文章链接地址</span>
        <nz-input
          style="width: 75%;"
          [(ngModel)]="article_url"
          [nzPlaceHolder]="'请输入文章链接'"
        >
        </nz-input>
      </div>
    </div>
    <div *ngIf="affiche_type === 2">
      <ckeditor-outlet [fromFatherValue]="article_content" (fromChild)="contentChange($event)"></ckeditor-outlet>
    </div>
    <div>
      <span class="text-padd-span">文章引言</span>
      <nz-input
        style="width: 75%;resize:none"
        [nzType]="'textarea'"
        [(ngModel)]="article_intr"
        [nzPlaceHolder]="'请输入文章文章引言'"
      >
      </nz-input>
    </div>
    <div>
      <span class="text-padd-span">文章状态</span>
      <nz-radio-group [(ngModel)]="affiche_state" style="width: 75%;">
        <label nz-radio [nzValue]="1">
          <span>显示</span>
        </label>
        <label nz-radio [nzValue]="2">
          <span>隐藏</span>
        </label>
      </nz-radio-group>
    </div>
    <div nz-row class="foot-buts">
      <button nz-col [nzSpan]="5" [nzPush]="5" nz-button (click)="goback()">取消</button>
      <button nz-col [nzSpan]="5" [nzPush]="7" nz-button [nzType]="'primary'" (click)="addNoticeSubmit()" *ngIf="editFlag;else editFlagSub">提交</button>
      <ng-template #editFlagSub><button nz-col [nzSpan]="5" [nzPush]="7" nz-button [nzType]="'primary'" (click)="editSubmit()">提交</button></ng-template>
    </div>

  </div>
</div>
