<div id="contactAdmin" nz-row>
  <div class="contact-list" nz-col [nzSpan]="8">
    <ul>
      <li>联系人列表</li>
      <li *ngFor="let item of dataList" (click)='changeChatObject(item)' style="cursor: pointer;">
        {{item.id}}
      </li>
    </ul>
  </div>
  <div id="chart" style="width: 500px; height: 500px; background: #ffc;"  nz-col [nzSpan]="16">
    <p *ngFor='let item of msgList'>
      {{item}}
    </p>

  </div>
  <input type="text" [(ngModel)] = 'sendMsg'>
  <button (click)='sendMessage(sendMsg)'>
    发送
  </button>
</div>
