<div id="contactAdmin" nz-row>
  <div class="contact-list" nz-col [nzSpan]="8">
    <ul>
      <li>系统管理员</li>
      <li *ngFor="let item of dataList" (click)='changeChatObject(item)' >
        {{item.id}}
      </li>
    </ul>
  </div>
  <div id="chart"  nz-col [nzSpan]="16">
    <div class="text_content">
      <p *ngFor='let item of msgList'>
        <span class="date_span">{{item.time | date : 'yyyy-MM-dd hh:mm:ss EEEE'}}</span>
        <span [ngStyle]="{'float': item.flow === 'to'?'left':'right'}">
          {{item.text}}
        </span>
      </p>
    </div>
    <div class="send_message">
      <div nz-row>
        <div style="padding: 0 10px 0 10px;" nz-col [nzSpan]='20'>
          <span style="display: inline-block; margin-right: 10px;" (click)='addFace()' class="emotion">表情</span>
          <nz-input style="width: 90%;" class="text_area" id="saytext" name="saytext" [(ngModel)]="sendMsg" [nzPlaceHolder]="'请输入聊天内容'"></nz-input>
        </div>
        <div style="text-align: center;padding: 0 10px 0 10px;" nz-col [nzSpan]='4'>
          <button style="width: 100%;" class="send_btn" nz-button (click)='sendMessage(sendMsg)' [nzType]="'default'">
            <span>发送</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
