#contactAdmin {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 30px;
  background: #fff;
  .contact-list {
    overflow-y: auto;
    max-height: 500px;
    background: #fff;
    ul {
      li:nth-of-type(1) {
        background: rgba(0, 153, 255, 0.16862745);
        height: 61px;
        line-height: 61px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
      }
      li:nth-of-type(1):hover {
        background: rgba(0, 153, 255, 0.16862745);
      }
      li {
        cursor: pointer;
        height: 40px;
        line-height: 40px;
        font-size: 16px;
        font-weight: bold;
        text-indent: 5%;
        border-bottom: 1px solid #efd5d5;
      }
      li:hover {
        background: rgba(225, 225, 225, 0.7)
      }
    }
  }
  #chart {
    // width: 500px;
    height: 500px;
    background: #fff;
    border-left: 1px solid #ccc;
    position: relative;
    .text_content {
      max-height: 460px;
      overflow-y: auto;
      background: #fff;
      border-radius: 4px;
      // border: 1px solid #cbdef0;
      p {
        width: 100%;
        height: 48px;
        line-height: 45px;
        padding-right: 20px;
        padding-left: 20px;
        background: rgba(219, 238, 255, 0.1);
        span {
          font-size: 16px;
          font-weight: bold;
          /* text-indent: 10px; */
          border-radius: 6px;
          border: 1px solid #dbeeff;
          text-align: center;
          width: auto;
          padding: 0 10px 0 10px;
        }
      }
    }
    .send_message {
      position: absolute;
      bottom: 0;
      background: #dbeeff;
      left: 0;
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #ddd;
      box-sizing: content-box;
      .text_area {
        display: inline-block;
      }
      .send_btn {
        display: inline-block;
      }
    }
  }
  .date_span {
    display: inline-block;
    color: #c0c0c0;
    font-weight: lighter !important;
    border: none !important;
    font-size: 9px !important;
    margin: 0 auto !important;
    width: 100% !important;
    height: 14px !important;
    line-height: 100% !important;
  }
}
